# Автоопределение текстовых файлов
* text=auto

# C# — LF
*.cs text eol=lf
*.xaml text eol=lf
*.csproj text eol=lf
*.sln text eol=lf

# Бинарные файлы
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.dll binary
*.exe binary
*.pdb binary
*.suo binary
*.pdf binary
*.zip binary
*.7z binary